      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                  <h1>Logout</h1>
                  <p>
                  <div class="alert alert-success">Logouted successfully
                    <a href="<?=$this->baseUrl?>admin/login">Login again</a>
                  </div>
                  </p>

              </div>
            </div>
        
          </div>
        </div>   
      </div>