<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="<?=$this->baseUrl?>admin">Home</a></li>
  <li class="breadcrumb-item">
    <a href="<?=$this->baseUrl?>admin/<?=$this->controller?>"><?=$this->mainTitle?></a>
  </li>
  <li class="breadcrumb-item active"><?=$this->title?></li>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
      <a class="btn" href="<?=$this->baseUrl?>admin/comment">
        <i class="icon-speech"></i>
      </a>
      <a class="btn" href="<?=$this->baseUrl?>admin">
        <i class="icon-graph"></i> &nbsp;Dashboard</a>
      <a class="btn" href="<?=$this->baseUrl?>admin/setting">
        <i class="icon-settings"></i> &nbsp;Settings</a>
    </div>
  </li>
</ol>
        