    <form class="ajax" method="post" action="">
		<div class="row">
			<div class="col-sm-8">
          <div class="card">
            <div class="card-header">
              <strong><?=$this->mainTitle?></strong>
              <small><?=$this->title?></small>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Title</label>
                    <input class="form-control" name="title" type="text" placeholder="Title" error="required">
                  </div>

                  <div class="form-group">
                    <label for="name">Short text</label>
                    <textarea class="form-control" name="shorttext" type="text" placeholder="Short text"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="name">Text</label>
                    <textarea class="form-control" name="text" type="text" placeholder="Text" error="required"></textarea>
                  </div>

                </div>
              </div>

            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit">
                <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button class="btn btn-sm btn-danger" type="reset">
                <i class="fa fa-ban"></i> Reset</button>
            </div>          
          </div>
      </div>
      <div class="col-sm-4">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#detail" role="tab" aria-controls="detail">Detail</a></li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Settings</a></li>
      
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="detail" role="tabpanel">
                  <div class="form-group">
                    <label for="name">Kind</label>
                    <select class="form-control" name="kind" error="required">
                      <? foreach( $this->loopKind as $k => $v ) {?>
                      <option value="<?=$k?>"><?=$v?></option>
                      <? } ?>
 
                    </select>
                  </div> 

                  <div class="form-group">
                 
                    <input class="form-control" name="url" type="text" placeholder="Url keyword">
                  </div> 

                  <div class="form-group">
                 
                    <input class="form-control"  name="curl" type="text" placeholder="Controller url">
                    <span class="help-block"><small>Can set this post to another controller, for example contact.</small></span>
                  </div>
              
                  <div class="form-group">
                 
                    <input class="form-control" name="tags" type="text" placeholder="Tags">
                  </div>

                  <div class="form-group">
                
                    <input class="form-control" name="icon" type="text" placeholder="Icon">
                  </div>

                  <div class="form-group">
                
                    <input class="form-control" name="date" type="text" placeholder="Publish Date">
                  </div>
            </div>
            <div class="tab-pane" id="settings" role="tabpanel">

                <div class="form-check checkbox">
                  <label class="form-check-label">  <input class="form-check-input" name="active" type="checkbox" value="1" checked> Active</label>
                </div> 
                <div class="form-check checkbox">
                  <label class="form-check-label">  <input class="form-check-input" name="firstpage" type="checkbox" value="1" checked> In first page</label>
                </div>

                <div class="form-check checkbox">
                  <label class="form-check-label">  <input class="form-check-input" name="comment" type="checkbox" value="1" checked> Comments</label>
                </div>

            </div>

          </div>
        </div>
      </div>
		</div>
    </form>
